@{
    Layout = "_GeneralLayout";
    ViewBag.Title = "Contact Page";
    ViewBag.Heading = "Crème De La Crème Recipes";
    ViewBag.ImgSrc = "/image/bkg.jpg";
}


<h3>Contact Us <img style=" width:400px; float: right; padding:10px;" src="~/image/background.jpg" /></h3>
<div id="content">
    <!-- #BeginEditable "content" -->
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque
        ornare ipsum at erat. Quisque elementum tempus urna. Donec ornare fringilla
        erat. Phasellus gravida lectus vel dui. Fusce eget justo at odio posuere
        dignissim.
    </p>
    <h3>Mailing Address</h3>
    <img alt="" class="float_right" height="200" src="~/image/map.jpg" width="200" />
    <p>
        123 Main Street<br />
        City, ST 00000
    </p>
    <h3>Hours of Operation</h3>
    <p>
        Monday - Friday 09:00 a.m. - 06:00 p.m.<br />
        Closed Saturday and Sunday
    </p>
    <!-- #EndEditable -->
</div>
<!-- End Content -->


