@{
    Layout = "_GeneralLayout";
    ViewBag.Title = "Home Page";
    ViewBag.Heading = "Crème De La Crème Recipes";
    ViewBag.ImgSrc = "/image/bkg.jpg";
}


    <h3>About Us <img style=" width:400px; float: right; padding:10px;" src="~/image/background.jpg" /></h3>
    <p>
        Caribbean Vybz is a family restaurant located in the downtown Toronto Area. 
        We are a multi cultural and friendly environment, staffed with team members that make you truly feel at home.
        Our is a fusion of many caribbean cusines which embodies the melting pot of culture that is the Caribbean.
        <br />
        Here you can enjoy our flavourful dishes ranging from Caribbean style fried rice, or curried roti dishes and
        meat and vegetable options for your healthier cravings.
        <br />
        We are LLBO certified, which means you can kick back and have a drink with us after your meal.
        <br />
        <p> ~ We hope you visit us soon!</p>
    </p>
    <h3>Our Motto</h3>

    <p>Good Food With Fun People!</p>

