@model Cuisine

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Edit/Add Cuisine Page";
    ViewBag.Heading = "Edit/Add A Cuisine";
    ViewBag.ImgSrc = "/image/dish1.jpg";

    ////cuisine list passed to the view
    //List<Cuisine> allCuisines = new List<Cuisine>();
    //allCuisines = ViewBag.Cuisines as List<Cuisine>;
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CuisineID" />

    <div class="form-group">
        <label asp-for="CuisineName"></label>
        <div><span asp-validation-for="CuisineName" class="text-danger"></span></div>
        <input asp-for="CuisineName" class="form-control" />
    </div>
   
    <div class="form-group">
        <label asp-for="CuisineOrigin"></label>
        <div><span asp-validation-for="CuisineOrigin" class="text-danger"></span></div>
        <textarea asp-for="CuisineOrigin" class="form-control"></textarea>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>